
<p>※このメールは自動送信メールです。</p>

<p><%= @resource.name %> 様</p>

<p>下記のリンクからパスワード変更をお願いいたします。</p>

<p><%= link_to 'パスワード変更はこちら', edit_password_url(@resource, reset_password_token: @token) %></p>


<p>※このメールは返信しても届きません。お問い合わせはアプリを起動して「お問い合わせ」からお願いいたします。</p>

<p>
覚えがないのにこのメールが届いたという方<br>
ご迷惑をおかけし申し訳ありません。大変お手数ですが下記メールアドレスまでご連絡をお願いいたします。<br>
</p>

<p>――――――――――――――――――――――――――――――</p>
<%= ENV['APP_NAME'] %><br>
URL ： http://localhost:3000<br>
Mail ： <%= ENV['MAIL'] %><br>
<p>――――――――――――――――――――――――――――――</p>